.categoryTileContainer {
    display: flex;

}

.category {
    background-position: center top;
    display: flex;
    height: 312px;
    flex-direction: column;
    order: 2;
    justify-content: center;
    padding-left: 24px;
}

.title {
    margin:0;
    text-transform: capitalize;
}

.productInfo {
    margin-bottom: 24px;
    opacity:.6;

}

.shopLink {
    border-bottom: 2px solid rgb(222, 33, 33);
    font-weight: 700;
    letter-spacing: .1rem;
    text-transform: uppercase;
    

}

.featured {
    grid-area: featured;
    height: 640px;
    order: -1;
}

.featured .title {
    font-family: "Rouge Script", cursive;
    font-size: 6rem;
    margin-bottom: 24px;
}

.women {
    background-image: url('../../assets/category-1.jpeg');
}

.men {
    background-image: url('../../assets/category-2.jpeg');
}

.kid {
    background-image: url('../../assets/category-3.jpeg');
}

.accessories {
    background-image: url('../../assets/category-4.jpeg');
}

.cosmetics {
    background-image: url('../../assets/category-5.jpeg');
}

@media screen and(min-width:768px){
    .categoryTileContainer {
        display: grid;
        height: 640px;
        gap: 16px;
        grid-template: 1fr 1fr / 2fr 1fr 1fr ;
        grid-template-areas: "featured . . "
                             "featured . .";
        margin-top: 12px;
    }
}