.desktopMenu {
    display: none;
}

.menuItem { 
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
}

.menuItem::after {
    background-color: rgb(222, 33, 33);
    content: '';
    display: block;
    height: 2px;
    margin-top: 2px;
    transform: scale(0);
    transition: all .3s;
    width: 100%;
}

.menuItem:hover::after {
   transform: scale(1);
}

.mobileMenuContent {
    padding-top: 16px;
    position: absolute;
    top: 100%;
    height: calc(100vh - 100%);
    width: 100vw;
    background-color: cadetblue;
    transition: left linear .3s;
}

.mobileMenuContent.active {
    left: 0;
}

.mobileMenuContent.inactive {
    left: -100%;
}

/* .mobileMenuContent::after {
    content:'';
    display: block;
    background-color: #000;
    opacity: 40%;
    height: 100vh;
    width: 100%;
} */

.mobileMenuContent .menuItem {
    padding: 8px;
}

@media screen and (min-width: 768px) {
    .desktopMenu {
        display: flex;
        gap: 32px;
    }

    .mobileMenu {
        display: none;
    }
}
