@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  height: 100%;
}
 
* {
  box-sizing: border-box;
}
 
body {
  margin: 0;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
 
}
 
#root {
  height: 100vh;
}
 
main {
  flex-grow: 1;
  text-align: center;
  padding: 12px;
}

.new-products {
  display: flex;
  flex-wrap: wrap ;
  gap: 16px;
  justify-content: space-evenly;
  margin: auto;
  max-width: 1160px;
  width: 75%;

}

.new-products__title {
  flex: 0 0 100%;
}