@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=UnifrakturMaguntia&display=swap');

* {
  box-sizing: border-box;
}

:root {
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Montserrat","sans-serif";
  min-height: 100%;
}